{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>

    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
        }
    }
    </script>

    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">

</head>

<body>
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <!-- message.tags добавит класс 'success', 'error' или 'warning' -->
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <header>
        <h1>{{ page_title }}</h1>
        <p>Добро пожаловать в систему хранения</p>
        <hr>
    </header>
    
    <!-- Блок поиска и фильтров -->
    <div class="toolbar">
        <form action="{% url 'home' %}" method="get" style="display: flex; width: 100%; gap: 10px; align-items: center;">
        
            <!-- 1. Поле поиска -->
            <!-- value="{{ request.GET.q }}" - это Sticky UI.
            Мы оставляем текст в поле после перезагрузки страницы -->
            <input type="text" name="q" class="search-input"
                placeholder="Найти 3D модель..."
                value="{{ request.GET.q|default:'' }}">
            
            <!-- 2. Сортировка -->
            <!-- onchange="this.form.submit()" заставляет форму отправиться сразу при выборе из списка -->
            <select name="ordering" class="sort-select" onchange="this.form.submit()">
                <option value="new" {% if request.GET.ordering == 'new' %}selected{% endif%}>Сначала новые</option>
                <option value="old" {% if request.GET.ordering == 'old' %}selected{% endif%}>Сначала старые</option>
                <option value="name" {% if request.GET.ordering == 'name' %}selected{% endif%}>По имени (А-Я)</option>
                <option value="today" {% if request.GET.ordering == 'today' %}selected{% endif%}>Сегодня</option>
                <option value="week" {% if request.GET.ordering == 'week' %}selected{% endif%}>За неделю</option>
            </select>
            
            <!-- 3. Кнопка -->
            <button type="submit" class="search-btn">Найти</button>
            
            <!-- 4. Кнопка сброса (если поиск активен) -->
            {% if request.GET.q or request.GET.ordering %}
                <a href="{% url 'home' %}" class="reset-link">✖ Сбросить</a>
            {% endif %}
        </form>
    </div>

    <main>
        <h2>Доступные ассеты:</h2>

        <!-- Контейнер сетки -->
        <div class="gallery-grid">

            {% for asset in page_obj %}
                <!-- Карточка -->
                <div class="asset-card">
                    <!-- 1. Превью (Верхняя часть) -->
                    <!-- Добавляем ID и data-url.
                    id="model-container-..." нужен, чтобы JS нашел конкретный div.
                    data-url="..." хранит ссылку на файл, которую JS прочитает.
                    -->
                    <div class="card-preview js-load-3d"
                        id="model-container-{{ asset.id }}"
                        data-url="{{ asset.file.url }}"
                        {% if asset.image %}
                            style="background-image: url('{{ asset.image.url }}');"
                        {% endif %}
                        >

                        <!-- Если есть картинка, показываем кнопку Play -->
                        {% if asset.image %}
                            <div class="play-btn">▶</div>
                        {% else %}
                            <!-- Если картинки нет (старая модель), показываем заглушку -->
                            <span style="font-size: 2rem; color: #3b4053; text-align: center;"> 🔄Wait... </span>
                        {% endif %}
                    </div>

                    <!-- 2. Информация (Нижняя часть) -->
                    <div class="card-info">
                        <h3 class="card-title">{{ asset.title }}</h3>

                        <div class="card-meta">
                            <span>📅 {{ asset.created_at|date:"d M Y" }}</span>
                            <!-- Если есть файл, показываем размер -->
                            {% if asset.file %}
                                <span style="float: right;">💾 {{ asset.file.size|filesizeformat }}</span>
                            {% endif %}
                        </div>

                        <!-- Кнопка скачивания -->
                        {% if asset.file %}
                            <a href="{{ asset.file.url }}" class="btn" download>Скачать.glb</a>
                        {% else %}
                            <span style="color: #d30000;">Файл потерян</span>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <div style="grid-column: 1 / -1; text-align: center; padding: 40px;">

                    {% if request.GET.q %}
                        <!-- Если был поиск -->
                        <p style="font-size: 5rem;">😞</p>
                        <h3>По запросу "<b>{{ request.GET.q }}</b>" ничего не найдено</h3>
                        <p>Попробуйте изменить запрос или <a href="{% url 'home'%}">сбросить фильтры</a></p>
                    {% else %}
                        <!-- Если база реально пуста -->
                        <p style="font-size: 5rem;">👀</p>
                        <h3>База пуста</h3>
                        <p>Загрузите первую модель!</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- 1. Загружаем наш новый тег -->
        {% load gallery_extras %}

        <!-- 2. Блок Пагинации -->
        <div class="pagination">
            <span class="step-links">

                {% if page_obj.has_previous %}
                    <!-- Используем наш тег: берем текущий request и меняем page на 1 -->
                    <a href="?{% param_replace request page=1 %}">&laquo; Первая</a>
                    <a href="?{% param_replace request page=page_obj.previous_page_number%}">Назад</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% param_replace request page=page_obj.next_page_number %}">Далее</a>
                    <a href="?{% param_replace request page=page_obj.paginator.num_pages%}">Последняя &raquo;</a>
                {% endif %}

            </span>
        </div>

        <br><hr><br>
        <!-- Ссылка на загрузку теперь выглядит как кнопка -->
        <a href="{% url 'upload' %}" class="btn" style="background-color: #D5FF40; color: #1A1D29; padding: 5px 10px; display: block; margin: 0 auto;">Загрузить модель</a>
        <br>
        <a href="/about/">О нас</a>
        <br>
        <a href="/admin/">Админка</a>
    </main>

    <footer>
        <p>&copy; 2026 Web Structures Course</p>
    </footer>

<!-- type="module" включает режим современных импортов -->
<script type="module">
    // Импортируем нашу функцию.
    import { loadModel } from "{% static 'gallery/js/viewer.js' %}";

    // Находим все контейнеры карточек
    const containers = document.querySelectorAll('.js-load-3d');
    
    // Пробегаемся по каждой
    containers.forEach(container => {
        // Вешаем слушатель клика на каждую карточку
        container.addEventListener('click', function() {

            // Проверка: Если внутри уже есть canvas, значит модель уже загружена
            if (this.querySelector('canvas')) return;

            // 1. Убираем кнопку Play (очищаем контент)
            // Но оставляем фон, пока не появится Canvas, чтобы не мигало белым
            this.innerHTML = '';

            // 2. Добавляем спиннер (визуально для пользователя)
            // (Тот самый лоадер, который мы делали на прошлой неделе, появится сам внутри loadModel)
            
            // 3. Запускаем загрузку 3D
            const id = this.id;
            const url = this.dataset.url;

            // Если URL есть (файл существует) - запускаем viewer
            if (url) {
                console.log("Загружаю 3D по требованию:", url);
                loadModel(id, url);
            }
        });
    });
</script>

</body>
</html>