{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ 'Загрузка модели' }}</title>

    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">

    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
        }
    }
    </script>
    <script type="module" src="{% static 'gallery/js/autothumb.js' %}"></script>
</head>

<body>
    <header>
        <h1>{{ 'Загрузка новой модели' }}</h1>
    </header>

    <!--
        1. method="post": Чтобы отправить данные.
        2. enctype="multipart/form-data": ОБЯЗАТЕЛЬНО для файлов!
    -->
    <form method="post" enctype="multipart/form-data">
        <!-- Защита от хакеров -->
        {% csrf_token %}

        <!-- ПОЛЕ ДЛЯ НАЗВАНИЯ МОДЕЛИ -->
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            {{ form.title }}  <!-- сюда добавится класс "form-control" из виджета -->
        </div>

        <!-- БЛОК ПРЕВЬЮ -->
        <div style="margin-bottom: 20px;">
            <p>Авто-генерация превью:</p>

            <!-- Сюда JS вставит Canvas с 3D моделью -->
            <div id="preview-container" style="width: 300px; height: 200px; background: ghostwhite; border: 1px solid #ccc;">
                <span style="display: block; padding: 80px 0; text-align: center; color:#999;">Выберите файл...</span>
            </div>

            <!-- СКРЫТОЕ ПОЛЕ (Сюда JS запишет длинную строку base64) -->
            <input type="hidden" name="image_data" id="id_image_data">
        </div>

        <!-- ПОЛЕ ДЛЯ ФАЙЛА -->
        <div class="form-group">
            <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
            {{ form.file }}  <!-- кнопка выбора файла с классом "form-control" -->
            
            {% if form.file.errors %}
                <div class="error-message">
                    {{ form.file.errors|last }}
                </div>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Кнопка отправки (блокируем её, пока не сгенерируется картинка) -->
        <button type="submit" id="submit-btn" disabled>Загрузить в базу</button>
    </form>

    <br>
    <a href="{% url 'home' %}">Назад в галерею</a>
</body>
</html>